<h1 style="
    margin-top: 0;
    padding-top: 180px;
    padding-bottom: 50px;
    background: url('/images/submit.jpg') top center no-repeat;
    border-bottom: 1px solid #ccc;
    background-size: cover;
">Add Preprint</h1>

{{outlet}}
